.btn-home-container {
    display: flex;
}

.btn-home-container button {
    height: 40px;
    padding: 0 30px 0 30px;
    background: #00285f;
    border-radius: 5px;
    border: #00285f;
}

.btn-home h6 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

@media(min-width: 576px){
    .btn-icon-container {
        width: 60px;
        height: auto;
    }
    .btn h6 {
        font-size: 20px; 
    }
}